@charset "utf-8";
/*
	Programmed By: Mosab
	musabbasil@ortakfikir.com
	Web Programmer 
*/
/* ===== standard ===== */
* {margin: 0; padding: 0; font-family: 'Arimo', sans-serif;}
body {
	background-color: #606658;
	background-image: url(../images/standard/backgroundGradient.png);
	background-repeat: repeat-x;
	font-family: 'Arimo', sans-serif;
}
#websiteContents {width: 999px; margin: 0 auto;}
#header {margin: 8px 0 0 0; height: 186px;}
#ab_upperlogo {
	background-image: url(../images/standard/ab_upperlogo.png);
	width: 153px;
	height: 76px;
	margin: 0 auto;
}
#headerText {
	font-size: 14px;
	color: #000;
	font-weight: bold;
	width: 625px;
	margin: 0 auto;
}
#headerMenu {
	margin-top: 16px;
	width: 998px;
	height: 78px;
	background-image: url(../images/standard/header.png);
}
#headerMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	margin-left: 475px;
}
#headerMenu ul li {float: left; margin: 27px 6px 0 0; height: 30px;}
#headerMenu ul li a {
	float: left;
	width: 96px;
	height: 27px;
	text-decoration: none;
	color: #4B493D;
	font-family: 'Arimo', sans-serif;
	font-size: 11px;
	font-weight: bold;
}
#headerMenu ul li a img {float:left;}
#headerMenu ul li a p {float:left; margin: 7px 0 0 5px;}
.pageContents {background-color: #BCC3B3; width: 999px; margin: 21px auto;}
a {text-decoration: none; color: #000;}
/* ===== Classes ===== */
div.clear {clear:both;}
/* ===== anasayfa ===== */
#anasayfaPageContents {padding-top: 30px;}
#slider {height: 430px; width: 999px;}
#projeEtkinlikleri {margin-top: 25px;}
#muzelerimiz {margin-top: 25px;}
.project table {width: 941px; margin: 15px 0 0 28px;}
.project table tr td {width: 221px; vertical-align:top;}
.project table tr td p {font-size: 13px; font-weight: bold; margin: 10px 0 0 2px;}
.project table tr td div {
	font-size: 12px;
	margin: 10px 0 0 2px;
	width: 221px;
	font-weight: bold;
}
/* ===== galeriler ===== */
#galerilerPageContents {padding-top: 15px;}
#galeriler_header_text {
	width: 500px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
}
#galeriler_header_menu {margin: 15px 200px;}
#galeriler_header_menu a {font-size: 14px; font-weight: bold; color: #595747;}
#galeriler_header_menu a:hover {color: #000;}
#galeriler_header_menu a.clicked {color: #000;}
#galeriler table {width: 945px; margin: 20px auto;}
#galeriler table tr td a p {font-size:13px; margin: 5px 0 20px 3px; font-weight: bold;}
/* ===== muzeler ===== */
#muzelerPageContents {padding-top: 15px;}
#muzeler_header_text {
	width: 175px;
	margin: 0 auto;
	font-size: 24px;
	font-weight: bold;
}
#muzeler_header_menu {margin: 15px 255px;}
#muzeler_header_menu a {font-size: 14px; font-weight: bold; color: #595747;}
#muzeler_header_menu a:hover {color: #000;}
#muzeler_header_menu a.clicked {color: #000;}
#muzelerPageContents #muzeler img {margin: 30px;}
#muzelerPageContents #muzeler p {margin: 0 0 15px 30px; font-size: 25px; font-weight: bold;}
#muzelerPageContents #muzeler div {margin-left: 30px; font-size: 13px; width: 940px;}
.BGduzce {
	background-image: url(../images/muzeler/BG_duzce.png), url(../images/standard/backgroundGradient.png);
	background-repeat: no-repeat, repeat-x;
	background-color: #606658;
	background-position: center top;
}
.BGsakarya {
	background-image: url(../images/muzeler/BG_sakarya.png), url(../images/standard/backgroundGradient.png);
	background-repeat: no-repeat, repeat-x;
	background-color: #606658;
	background-position: center top;
}
.BGbolu {
	background-image: url(../images/muzeler/BG_bolu.png), url(../images/standard/backgroundGradient.png);
	background-repeat: no-repeat, repeat-x;
	background-color: #606658;
	background-position: center top;
}
.BGkocaeli {
	background-image: url(../images/muzeler/BG_kocaeli.png), url(../images/standard/backgroundGradient.png);
	background-repeat: no-repeat, repeat-x;
	background-color: #606658;
	background-position: center top;
}
/* ===== footer ===== */
.footer {height: 199px; margin-top: 20px;}
.footer .footerImg {
	width: 938px;
	height: 162px;
	background: url(../images/standard/ab_lowerlogo.png) no-repeat;
	margin: 0 auto;
}
.footer .copyright {
	width: 999px;
	height: 27px;
	background-color: #4B5044;
	padding-top: 10px;
}
.footer .copyright p {color: #FFFFFF; font-size: 13px; margin-left: 400px;}